:root {
  --background: #303030;
  --foreground: #ddd;
  --foreground-muted: #999;
  --green: #00d75f;
  --black: #262626;
  --yellow: #fdbc4b;
  --blue: #5fd7ff;
  --divider: #707070;
}

html,
body {
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.05em;
  color: var(--foreground);

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

a {
  color: #4fc3f7;
}

hr {
  height: 1px;
  border: 0;
  background: var(--divider);
}

button {
  cursor: pointer;
}

.indent-after-prompt {
  margin-inline-start: 28px;
}
